body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("image/to-do-list-top-view-png-image_5876810.png") no-repeat center center fixed;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.landing-container, .form-container {
  padding: 30px;
  font-weight: 700;
  border-radius: 10px;
  /* box-shadow: 0 4px 10px rgba(0,0,0,0.1); */
  text-align: center;
  max-width: 350px;
}

input, button {
  margin: 10px 0;
  padding: 12px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

